.movies {
    padding-inline: 20px;
}

.spinner-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.movies .section {
    max-width: 1200px;
    margin: 0 auto;
}

.movies .section .movies-hereko {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.movies .section .movies-hereko span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BEB7FB;
}

.movies .section .movies-hereko h1 {
    font-weight: 600;
    font-size: clamp(32px, 5vw, 64px);
    line-height: clamp(40px, 5vw, 80px);
    letter-spacing: -2%;
    color: #EBEEF5;
}

.movies .section .movies-hereko .input-box {
    max-width: 344px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border: 1px solid #323B54;
    border-radius: 12px;
    background: #0000001A;
    margin-top: 24px;
    margin-bottom: 48px;
}

.movies .section .movies-hereko .input-box input {
    width: 100%;
    max-width: 277px;
    padding: 12px 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #475069;
}

.movies .section .movies-hereko .input-box img {
    width: 24px;
    height: 24px;
}

.movies .section .movies-hereko .input-box:focus-within {
    border-color: #475270;
}

.movies .section .items {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
}

.movies .section .movie-block {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.movies .section .movie-block a {
    text-decoration: none;
}

.movies .section .movie-block .card {
    max-width: 282px;
    background: #20283ECC;
    display: flex;
    flex-direction: column;
    gap: 16px;
    backdrop-filter: blur(80px);
    border-radius: 12px;
    padding: 8px 8px;
    transition: all 200ms;
}

.movies .section .movie-block .card:hover {
    transform: scale(101%);
}

.movies .section .movie-block .card .poster-box {
    max-width: 266px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}

.movies .section .movie-block .card .poster-box span {
    padding: 8px 12px;
    border-radius: 8px;
    background: #000000A6;
    backdrop-filter: blur(8px);
    position: absolute;
    left: 16px;
    top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFAD49;
}

.movies .section .movie-block .card .poster-box img {
    width: 100%;
    min-width: 266px;
    height: 400px;
    object-fit: cover;
}

.movies .section .movie-block .card p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #EBEEF5;
    margin-bottom: 8px;
}

.movies .section .pagination {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.movies .section .pagination button {
    border: none;
    padding: 10px 34px;
    border-radius: 10px;
    background-color: #3e16cf;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms;
}

.movies .section .pagination span {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}

.movies .section .pagination button:hover {
    background-color: #3e16cf62;
}

@media (max-width: 600px) {
    .movies .section .movies-hereko {
        text-align: center;
        align-items: center;
    }

    .movies .section .items {
        text-align: center;
    }
}