.notfound {
    padding-inline: 20px;
}

.notfound .error-block {
    max-width: 588px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.notfound .error-block .image img {
    width: 100%;
}

.notfound .error-block h1 {
    font-weight: 600;
    font-size: clamp(24px, 5vw, 48px);
    line-height: clamp(26px, 5vw, 52px);
    letter-spacing: -2%;
    color: #EBEEF5;
    text-align: center;
}

.notfound .error-block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
    text-align: center;
}

.notfound .error-block a {
    text-decoration: none;
    padding: 16px 32px;
    border: 2px solid #7B6EF6;
    border-radius: 12px;
    background-color: #7B6EF6;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}